
body{
  background: #f5f5f5 !important;
  margin: 0;
  padding: 0;
  font-size: 100%;
}    

nav article footer{
  float: left;
}


h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 0.875em;
}

/*MENÜ****************************************************/

.fixed-nav-bar{ 
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  border-bottom: #eaeaea solid 0.5em !important;
  height: auto
  opacity: 0.95 !important;
   -webkit-opacity: 0.95 !important;
      -moz-opacity: 0.95 !important;
}

#home{
  background-color: #FFFFFF;
  margin-left: auto; 
  margin-right: auto;
  width: 100% !important;
  height: 45px;
  background-repeat: no-repeat;
  background-image: url("../style/thr_logo.jpg");
  background-size: 10%;
  background-position: center;
  opacity: 1 !important;
   -webkit-opacity: 1 !important;
      -moz-opacity: 1 !important; 
}

#menu-bottom{
    background: #FFFFFF;
    width:100% !important;
  position:relative;
    margin: 0 auto;
  padding: 0;
  opacity: 1 !important;
    -webkit-opacity: 1 !important;
     -moz-opacity: 1 !important;
}

#menu-bottom>ul{
  list-style: none;
    margin: auto 0; 
  display:inline-block;
}

nav a{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
  /*text-decoration: none;*/
  /*text-align: center;*/
  display: block;
  text-decoration: none;
  padding: 0 10px;
  color: #000;
}


nav a:hover{
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

nav>div li{ 
  display: inline-block;
  float:left;
  margin: auto;
  padding: auto;
}


/***search button***************/

.searchbox .fa fa-search{
  visibility: visible; 
  display: inline-block;
  margin: 0 auto;
  float: left;
  position: absolute;
  top: 0.3em;
  z-index: 1;
}

.searchbox #search-input{
  float: right;
    visibility: visible;
    display: inline-block;
    margin-left: 0.5em;
    border: none;
    /*border-color: #000;*/
    /*border-radius: 0.2em;*/
    font-size: 0.9em;
    height: 1em
    width: 5em;
    text-align: left;
}
/*******************************/

.container{
  margin: 8em 5em 0 5em;
  background: #fff;
}

.content{
  padding: 2em;
  width: 60em;
  display: inline-block !important;
  text-align: left !important;
  background: #fff;
}

.content h1{
  font-family: 'Alegreya', serif;
}

.content span{
  color: #c4c1b5;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: lighter;
} 

.content img{
  max-width: 50em;
  height: auto;
}

/*paragraphs*/

.content p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  text-align: justify;
  -webkit-text-align: justify;
   -moz-text-align: justify;
}

.content p>a{
  color: #45c0bf;;
}

.content p>a:hover{
  color: #45c0bf;
  text-decoration: none;
}

.content>p>ul>li{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.content #content-list{
  list-style-type: none;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

#social-media-share{
  background: #f5f5f5;
  width: auto;
  height: auto;
  margin-bottom: 2em;
}

.container #more{
  padding: 0.5em;
  margin: 4em auto;
  float: right;
  width: 15em;
  height: 95em;
  background: #fff;
  border: #eaeaea solid 1px;
}

#more .item{
  margin: 0 auto;
  width: 95%;
  height: 15em;
  text-align: left;
}

#more header{
  text-align: left;
  background: #fff;
  color: #ff1100;
  width: 14em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  border-bottom: #f5f5f5 solid 1px;
  margin-bottom: 2em;
}

#more>.item>img{
  margin: 0 0.5em;
  width: 80%;
  height: 80%;
}

#more>.item>a{
  text-align: justify;,
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: #c4c1b5;
}

#more>.item>a:hover{
  text-align: justify;,
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

/*

Grid:

.container{
  width: 95%;
  height: 95%;
  background: #fff;
  margin: -43em 1em 1em 5em;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(1, 50em);
  grid-template-columns: repeat(auto-fit, minmax(80em, 1fr));
  justify-content: center;
  align-content: center;
}

.item{
  background: #fff;
}

.item figure>img{
  width: 50%;
  height: 50%;
}*/

/**************/

/*Kaynak Linki**********/

.source{
  font-style: normal;
  color: #808080;
}

/*FOOTER**********************************/

footer{
  position: relative;
  top: 2em;
  padding: 3em 0 0 0;
  text-align: center;
  background: #f5f5f5;
  display: block;
  width: 100%;
  height: 0;
}

footer>a {
  display: inline-block;
  margin: auto 0;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
  font-size: 19px;
  text-decoration: none;
}

footer>a:hover{
 font-size: 19px;
    font-weight: bold;
  color: #000;
  text-decoration: none;
}

#social-media{
  display: block;
  margin: 1em 0 3em 0;
  background: #f5f5f5;

}

#social-media .fa{
  color: #000;
  font-size: 1.5em;
  padding: 1em;
  opacity: 0.9em;
}

#social-media .fa-facebook:hover{
  color: #3B5998;
  text-decoration: none;
}

#social-media .fa-twitter:hover{
  color: #00aced;
  text-decoration: none;
}

#social-media .fa-youtube-play:hover{
  color: #ff0000;
  text-decoration: none;
}

#social-media .fa-instagram:hover{
  color:  #8a3ab9;
  text-decoration: none;
}

/*****************************************/